/bin/*
/conf/*
/docs/*
/eclipse/*
/forge/*
/jars/*
/lib/*
/logs/*
/modsrc/*
/reobf/*
/runtime/*
/temp/*

/src/minecraft/*
/src/minecraft_server/*
/src/common/*
!/src/common/com/github/AbrarSyed/SecretRooms/*
!/src/minecraft/com/github/AbrarSyed/SecretRooms/*

*.bat
*.sh