# gradle stuff
/*
!/src
!build.gradle

# eclipse stuff
eclipse
.classpath
.project
.settings
bin

# run place
run

# intellij stuff
.idea
out
*.iml
*.iws
*.ipr
src/main/resources/assets/secretroomsmod/recipes/recipeConverter.py
*.py